.container{
  display: flex;
  flex-direction: column;

  background-color: var(--bg);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  overflow-y: auto;
  height: 100%;
  padding: 30px 140px;
}

.main_title {
  font-weight: normal;
  text-align: center;
  margin-bottom: 10px;
}

.title {
  font-weight: normal;
  font-size: 16px;
  margin: 10px 0;
}

.select {
  font-size: 18px;
  margin: 10px 0;
  padding: 3px 15px;
  width: max-content;
  background-color: var(--bg);
  color: var(--textColor);
  border-radius: 10px;
  border-color: crimson;
}

.select:hover {
  box-shadow: 0 0 5px crimson;
}

.textEditor {
  margin: 20px 0;
  color: var(--textColor);
  overflow: hidden;
}

.instructions {
  font-size: 13px;
  line-height: 18px;
}

.input{
  padding: 5px 20px;
  font-size: 20px;
  background-color: transparent;
  color: var(--textColor);
  margin: 10px 0;
  width: 100% !important;
}

.input::placeholder{
  color: var(--textColor);
  font-size: 16px;
}



.return_button {
  color: crimson;
  font-size: 45px;
  position: absolute;
  right: 140px;
  top: 70px;
  background-color: var(--bg);
  border: none;
  cursor: pointer;
}

.moderate {
  display: block;
  width: 100%;
  margin: 10px auto 20px;
}

.textarea {
  width: 100%;
  font-family: inherit;
  padding: 5px 20px;
  font-size: 18px;
  background-color: transparent;
  color: var(--textColor);
  margin: 10px 0;
  width: 100% !important;
  border: 1px solid crimson; 
  border-radius: 5px;
  outline: none;
}

.textarea::placeholder{
  color: var(--textColor);
  font-size: 16px;
  font-weight: 300;
}

.textarea:focus {
  box-shadow: 0 0 5px crimson;
}

@media screen and (max-width: 1024px) {
  .container{
    padding: 25px 40px;
  }

  .return_button {
    font-size: 40px;

    right: 40px;
    top: 70px;
  }
}

@media screen and (max-width: 640px) {
  .container{
    padding: 20px 15px;
  }

  .return_button {
    font-size: 30px;

    right: 15px;
    top: 60px;
  }
}