@tailwind base;
@tailwind components;
@tailwind utilities;


audio::-webkit-media-controls-panel {
  background-color: #a050acb7;
}

audio::-webkit-media-controls-play-button {
  background-color: white;
  border-radius: 50%;
}

audio::-webkit-media-controls-play-button:hover {
  background-color: rgba(177,212,224, .7);
}

audio {
  height: 35px;
  margin: 10px 0;
}


/* @media only screen and (max-width: 916px) and (orientation: landscape) { */
  @media only screen and (max-width: 734px) and (orientation: landscape) {
  .bodyClass {
    justify-content: initial !important;
    overflow: auto !important; 
  }
  .main {
    height: auto !important;    
  }

  .logo,
  .footer  {
    position: initial !important;   
  }

  .modalContent {
    overflow: auto !important;
    justify-content: initial !important;
  }
}

@media only screen and (max-height: 730px) {
  .bodyClass {
    justify-content: initial !important;
    overflow: auto !important; 
  }
  .main {
    height: auto !important;    
  }

  .logo,
  .footer  {
    position: initial !important;   
  }

  .modalContent {
    overflow: auto !important;
    justify-content: initial !important;
  }
}