@tailwind base;
@tailwind components;
@tailwind utilities;



@media only screen and (max-width: 916px) and (orientation: landscape) {
  body {
    /* transform: rotate(90deg);
    height: fit-content; */
    opacity: 0.3;
    /* height: auto !important;
   
    /*overflow-y: auto !important;*/
    /* display: none !important;   */
    /* position: relative !important;
    overflow: auto !important; */
    
    
  }
  .main {
    /* height:fit-content !important;
    overflow: auto !important;
    position: relative !important; */
    height: auto !important;
    
  }
  .logo {
    /* position: static !important; */
    /* overflow: auto !important; */
    
  }
  .footer {
    /* position: relative !important; */
    /* overflow: auto !important; */
  }
}

/* Вернуть содержимое к обычной ориентации для настольных устройств
@media only screen and (min-width: 769px) {
  body {
    display: block;
  }
}  */

