.container {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  gap: 50px;
  flex-direction: row-reverse;
  border: 0.5px solid rgba(128, 128, 128, 0.200);
  box-shadow: 1px 3px 7px -3px rgba(128, 128, 128, 0.704);
  overflow: hidden;
}

.imageContainer {
  flex: 1;
  height: 100%;
  position: relative;
  /*  */
  overflow: hidden;
}

.image {
  object-fit: cover;
}

.textContainer, .textContainerText {
  display: flex;
  flex-direction: row-reverse;
  gap: 30px;
  width: 100%;
  /*  */
  overflow: hidden;
}

 .column{
  flex: 1;
  padding: 15px 15px 0;
  position: relative;
}

.column:last-child {
  padding: 0 0 0;
  flex: 1;
}

.date {
  color: gray;
}

.category {
  color: crimson;
  font-weight: 500;
}

.infoBox {
  margin: 20px 0;
  position: relative;
}

.author {
  color: gray;
  font-size: 14px;


  /* white-space: nowrap;        
  overflow: hidden;          
  text-overflow: ellipsis;   
  max-width: 325px;   */
}

.author_name {
  color: crimson;
  font-size: 14px;
}

.post_link {
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 15px;
  text-indent: 30px;
  line-height: 33px;
  word-wrap: break-word;
}

.box {
  height: 300px;
  overflow: hidden;
  position: relative;
}

.box::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 45px;
  background: linear-gradient(180deg, transparent, var(--bg) 70%);

}

.content {
  text-indent: 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  height: 210px;
  color: var(--softTextColor);
  text-align: justify;
  /* word-wrap: break-word; */
  overflow-wrap: break-word; /* preferred over word-wrap */
  word-break: break-word; /* adds stronger breaking */
}

.content h3 {
  margin: 10px 0;
}

.content img {
  /* max-width: 100%;
  margin: 15px auto; */
  display: none;
}


.link {
  border-bottom: 1px solid crimson;
  width: max-content;
  padding: 2px 0px;
  display: inline-block;
  margin-bottom: 10px;
}

.link:active {
  border-bottom: 2px solid crimson;
}

@media screen and (max-width: 1100px) {

  .textContainer {
    flex-direction: column;
    gap: 0;  
    
    height: 800px;
  }

  .textContainerText {
    flex-direction: column;
    gap: 0;  
    

  }

  .imageContainer {
    margin: 0 auto;
  }

  .infoBox {
    margin: 15px 0;
  }
  
}

@media screen and (max-width: 425px) {
  .author { 

    max-width: 20ch;  
  }
}

