.write {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}

.input {
  background-color: transparent;
  color: var(--textColor);
  padding: 5px;
  width: 100%;
  height: 60px;
  vertical-align: top;
  border-radius: 5px;
  outline: none;
  border: 1px solid var(--textColor);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1)
}

.input::placeholder {
  color: grey;
  vertical-align: top;
  opacity: 1;
}

.input:focus::placeholder {
  opacity: 0;
}

.notice {
  margin-top: 20px;
  font-weight: 300;
}

@media screen and (max-width: 500px) {
  .write {
    display: block;
  }

  .input {
    margin-bottom: 20px;
  }
}